{% extends 'template.html' %}

{% block  title %}
    <title>Регистрация</title>
{% endblock  %}

{% block content_0 %}
    <div class="head_box">Введите аккаунт и пароль
    </div> 
    <div class="main_box">
    <form action="{{url_for('walet')}}" method="post">
        <div >
            <!-- <label>Введите кошелек и пароль</label> -->
            <input class="form-control inp_ctr inp_ctr_0" type="text" name="walet" placeholder="Account"><br>
            <input class="form-control inp_ctr inp_ctr_1" type="text" name="password" placeholder="Password">
            <button type="submit" class="btn btn-secondary btn_ctr">Войти</button><br>
            {% for cat, msg in get_flashed_messages(True) %}
                <div class="{{cat}} status_class_0">{{msg}}</div>
            {% endfor %}
        </div>
    </form>
    </div>
{% endblock content_0 %}