<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='/node_modules/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet" >
    <script src="{{url_for('static', filename='/node_modules/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/style_0.css')}}">
    <script src="{{url_for('static', filename='/node_modules/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='/node_modules/bootstrap-multiselect/dist/js/bootstrap-multiselect.min.js')}}"></script>
    <link href="{{url_for('static', filename='/node_modules/bootstrap-multiselect/dist/css/bootstrap-multiselect.min.css')}}" rel="stylesheet" >
    {% block  title %}
        <title>Document</title>
    {% endblock  %}
</head>
<body>
{% block content_0 %}

{% endblock content_0 %}


{% block content_1 %}

{% endblock content_1 %}

{% block content_2 %}

{% endblock content_2 %}

{% block content_3 %}

{% endblock content_3 %}

{% block content_4 %}

{% endblock content_4 %}

{% block content_5 %}

{% endblock content_5 %}
</body>
</html>